<div class="container margins" style="margin-bottom: 15px">
    <ul>
        <li *ngFor="let pedido of pedidos" class="card bg-success" style="margin-bottom: 15px; padding: 10px 10px 10px 10px">
            <h3><strong>Codigo:</strong> {{ pedido.codigo }}</h3>
            <hr style="margin-top: 5px; margin-bottom: 5px">
            <ul>
                <li>
                    <h4><strong>Nombre: </strong> {{ pedido.estado }}</h4>
                </li>
                <li>
                    <h4><strong>Nombre: </strong> {{ pedido.fecha_emision }}</h4>
                </li>

                <li>

                </li>
            </ul>
        </li>
    </ul>
</div>