<div class="container margins" style="margin-bottom: 15px">
    <ul>
        <li *ngFor="let producto of productos" class="card bg-success" style="float: left;margin-left: 5%;margin-bottom: 15px;width: 30%;">
            <button class="btn btn-danger btn-block" [routerLink]="['/pedido']" [queryParams]="{producto_Id: producto.codigo, cedula_Id: cedulaId, cantidad: cantidad }">Agregar a Pedido</button>

            <hr style="margin-top: 5px; margin-bottom: 5px">
            <ul style="">

                <li>
                    <h4>{{ producto.nombre }}</h4>
                </li>
                <li>
                    <img src="{{ producto.imagen }}" width="80%" />
                </li>
                <li>
                    <h5>precioVenta: $ {{ producto.precioVenta }} </h5>
                </li>
                <li>
                    <h5 style="float: left;">Cantidad: </h5><input (keyup)="onKey($event)" style="width:50px;" required/>
                </li>
            </ul>
        </li>
    </ul>

</div>