<div class="container margins" style="margin-bottom: 15px">
    <ul>
        <li *ngFor="let categoria of categorias" class="card bg-success" style="float: left;width: 30%; padding: 10px 10px 10px 10px">
            <h3><strong>Codigo:</strong> {{ categoria.codigo }}</h3>
            <button class="btn btn-danger btn-block" [routerLink]="['/productos']" [queryParams]="{bodega_id: bodegaId, categoria_id: categoria.codigo}">Abrir Categoria</button>
            <hr style="margin-top: 5px; margin-bottom: 5px">
            <ul>
                <li>
                    <h4><strong>Nombre: </strong> {{ categoria.nombre }}</h4>
                </li>
                <li>
                    <h4><strong>Ciudad: </strong> {{ bodega.ciudad.nombre }}</h4>
                </li>
                <!-- 
                     <li>
                    <h4><strong>Ciudad: </strong> {{ bodega.ciudad.nombre }}</h4>
                </li>
                 -->
            </ul>
        </li>
    </ul>
</div>